@use '../lista-incidencias/modal.scss';

.margen-superior {
  margin-top: 15px;
}

.acciones-modal-estado {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  .boton-modal-estado {
    padding: 0.6rem 1.5rem;
  }
}
