<div class="contenedor-registro-minimalista">
  <div class="encabezado-superior">
    <h1 class="titulo-gigante">Registro</h1>
  </div>

  <div class="cuerpo-formulario">
    <form [formGroup]="formularioRegistro" (ngSubmit)="procesarRegistro()" class="formulario-minimalista">
      
      <div class="fila">
        <div class="grupo-control">
          <label for="nombres">Nombres *</label>
          <input type="text" id="nombres" formControlName="nombres">
          <div class="mensaje-error" [style.visibility]="(formularioRegistro.get('nombres')?.invalid && formularioRegistro.get('nombres')?.touched) ? 'visible' : 'hidden'">Requerido</div>
        </div>
        <div class="grupo-control">
          <label for="apellidos">Apellidos *</label>
          <input type="text" id="apellidos" formControlName="apellidos">
          <div class="mensaje-error" [style.visibility]="(formularioRegistro.get('apellidos')?.invalid && formularioRegistro.get('apellidos')?.touched) ? 'visible' : 'hidden'">Requerido</div>
        </div>
        <div class="grupo-control">
          <label for="tipoDocumento">Tipo Doc. *</label>
          <select id="tipoDocumento" formControlName="tipoDocumento">
            <option value="" disabled selected></option>
            <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{tipo}}</option>
          </select>
          <div class="mensaje-error" [style.visibility]="(formularioRegistro.get('tipoDocumento')?.invalid && formularioRegistro.get('tipoDocumento')?.touched) ? 'visible' : 'hidden'">Requerido</div>
        </div>
        <div class="grupo-control">
          <label for="numeroDocumento">Núm. Doc. *</label>
          <input type="text" id="numeroDocumento" formControlName="numeroDocumento">
          <div class="mensaje-error" [style.visibility]="(formularioRegistro.get('numeroDocumento')?.invalid && formularioRegistro.get('numeroDocumento')?.touched) ? 'visible' : 'hidden'">Requerido</div>
        </div>
      </div>

      <div class="fila">
        <div class="grupo-control">
          <label for="telefono">Teléfono</label>
          <input type="tel" id="telefono" formControlName="telefono">
          <div class="mensaje-error" [style.visibility]="(formularioRegistro.get('telefono')?.invalid && formularioRegistro.get('telefono')?.touched) ? 'visible' : 'hidden'">Inválido</div>
        </div>
        <div class="grupo-control">
          <label for="rol">Rol *</label>
          <select id="rol" formControlName="rol">
            <option value="" disabled selected></option>
            <option *ngFor="let rol of nombresRoles" [value]="rol">{{rol}}</option>
          </select>
          <div class="mensaje-error" [style.visibility]="(formularioRegistro.get('rol')?.invalid && formularioRegistro.get('rol')?.touched) ? 'visible' : 'hidden'">Requerido</div>
        </div>
        <div class="grupo-control">
          <label for="correo">Email *</label>
          <input type="email" id="correo" formControlName="correo">
          <div class="mensaje-error" [style.visibility]="(formularioRegistro.get('correo')?.invalid && formularioRegistro.get('correo')?.touched) ? 'visible' : 'hidden'">Inválido</div>
        </div>
        <div class="grupo-control">
          <label for="contrasena">Contraseña *</label>
          <input type="password" id="contrasena" formControlName="contrasena">
          <div class="mensaje-error" [style.visibility]="(formularioRegistro.get('contrasena')?.invalid && formularioRegistro.get('contrasena')?.touched) ? 'visible' : 'hidden'">Mínimo 6 caracteres</div>
        </div>
      </div>

      <div class="acciones-formulario">
        <div class="alerta-servidor" *ngIf="mensajeServidor">
          {{ mensajeServidor }}
        </div>
        <button type="submit" class="boton-registro" [disabled]="formularioRegistro.invalid">Registrarse</button>
        <div class="enlace-login">
          <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
      </div>

    </form>
  </div>
</div>