<div class="contenedor-principal">
  <div class="cabecera-lista">
    <h2 class="titulo-principal">Mi Estado de Cuenta</h2>
    
    <div class="acciones-cabecera pestanas">
      <button class="pestana" [class.activa]="pestanaActiva === 'estados'" (click)="cambiarPestana('estados')">
        Resumen Mensual
      </button>
      <button class="pestana" [class.activa]="pestanaActiva === 'pagos'" (click)="cambiarPestana('pagos')">
        Historial de Pagos
      </button>
    </div>
  </div>

  <div *ngIf="cargando" class="texto-cargando">Cargando su información financiera...</div>

  <ng-container *ngIf="!cargando && unidad">
    <div class="tarjeta-minimalista informacion-unidad">
      <div class="cuerpo-minimalista cuerpo-horizontal">
        <div class="fila-minimalista">
          <span class="material-symbols-outlined icono-minimalista">location_city</span>
          <span><strong>Condominio:</strong> {{ unidad.condominio?.nombre }}</span>
        </div>
        <div class="fila-minimalista">
          <span class="material-symbols-outlined icono-minimalista">business</span>
          <span><strong>Torre:</strong> {{ unidad.torre || 'N/A' }}</span>
        </div>
        <div class="fila-minimalista">
          <span class="material-symbols-outlined icono-minimalista">layers</span>
          <span><strong>Piso:</strong> {{ unidad.piso }}</span>
        </div>
        <div class="fila-minimalista">
          <span class="material-symbols-outlined icono-minimalista">door_front</span>
          <span><strong>Unidad N°:</strong> {{ unidad.numeroUnidad }}</span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="pestanaActiva === 'estados'">
      <app-lista-resumen-mensual
        [estadosOriginales]="estadosOriginales"
        [unidad]="unidad"
        (pagoRegistrado)="cargarDatos()">
      </app-lista-resumen-mensual>
    </ng-container>

    <ng-container *ngIf="pestanaActiva === 'pagos'">
      <app-lista-historial-pagos
        [pagosOriginales]="pagosOriginales">
      </app-lista-historial-pagos>
    </ng-container>

  </ng-container>
</div>
