.cabecera-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secundario);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;

  .titulo-principal {
    color: var(--primario);
    margin: 0;
    font-size: 2rem;
  }

  .acciones {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

    .filtro-estado {
      padding: 0.5rem 1rem;
      border: 1px solid var(--secundario);
      border-radius: 4px;
      font-family: var(--fuente-principal);
      color: var(--primario);
      background-color: var(--blanco);
    }

    .boton-primario {
      text-decoration: none;
    }
  }
}

@media (max-width: 600px) {
  .cabecera-lista {
    flex-direction: column;
    align-items: flex-start;
    
    .acciones {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      
      .contenedor-busqueda {
        width: 100%;
        
        app-select-personalizado {
          width: 100%;
          display: block;
        }
      }
      
      .boton-primario {
        width: auto;
        justify-self: start;
      }
    }
  }
}
