.cabecera-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secundario);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;

  .titulo-principal {
    color: var(--primario);
    margin: 0;
    font-size: 2rem;
  }

  .acciones-cabecera {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;

    .contenedor-busqueda {
      .grupo-busqueda {
        display: flex;
        align-items: center;
        width: auto;
        min-width: 250px;
        position: relative;

        }
    }

    .boton-primario {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      white-space: nowrap;
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: flex-start;

    .acciones-cabecera {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .contenedor-busqueda {
        width: 100%;
        max-width: 100%;
        
        .grupo-busqueda {
          min-width: 100%;
          width: 100%;
        }
      }

      .boton-primario {
        width: auto;
      }
    }
  }
}
